<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041805091494-t0dreculp68tkrni4doej459ng0aeagm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041805091494-t0dreculp68tkrni4doej459ng0aeagm</string>
	<key>API_KEY</key>
	<string>AIzaSyB_eEHxLK0Z34r6GD8gGBAdAq7goGrzdno</string>
	<key>GCM_SENDER_ID</key>
	<string>1041805091494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umutcorut.Converter</string>
	<key>PROJECT_ID</key>
	<string>currency-rates-converter</string>
	<key>STORAGE_BUCKET</key>
	<string>currency-rates-converter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041805091494:ios:d5214d19080b99de4d4a67</string>
</dict>
</plist>